
.Card-Heder-Section{
    background-color: rgb(52, 173, 132);
    width:100%;
    height: 100px;
   
    
    input{
        height:35px;
        margin-top: 30px;
        background-color: rgb(241, 222, 222);
    }

    
}

.example-card{
    img{
        height: 200px;
        object-fit: cover;
        margin-top: 5px;
    }

    .Shop-title{
        font-size: 16px;
        font-weight: bold;
        text-overflow:ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 20px;
    }

    .font_waight{
        font-size: 22px;
        margin: 10px 0;
    }
    
}

.row{
    background-color: rgb(227, 228, 228);
    padding:10px;
}